
<% if current_user?(@user) %>
	<% @github_user.repositories.each do |repo| %>
		<p><%= link_to repo.full_name, repository_path(repo.full_name) %></p>
		<p><%= repo.to_attrs  %></p>
	<% end %>
<% else %>
	<p><%= "Please Log in" %></p>	
<% end %>